body { background: #a7ce04; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-shipping-0 { color: #2e36a1; font-size: 18px; margin-bottom: 5px; }
.block-uploader-1 { color: #90dcc0; font-size: 16px; margin-bottom: 5px; }
.block-filter-2 { color: #8018d1; font-size: 14px; margin-bottom: 5px; }
.block-auth-3 { color: #7871a8; font-size: 18px; margin-bottom: 5px; }
.block-order-4 { color: #679417; font-size: 12px; margin-bottom: 5px; }
.block-config-5 { color: #f49c75; font-size: 13px; margin-bottom: 5px; }
.block-invoice-6 { color: #e4a42a; font-size: 17px; margin-bottom: 5px; }
.block-search-7 { color: #1d5820; font-size: 14px; margin-bottom: 5px; }
.block-notify-8 { color: #c2b8f5; font-size: 14px; margin-bottom: 5px; }
.block-helper-9 { color: #9c91c7; font-size: 16px; margin-bottom: 5px; }
.block-email-10 { color: #df5fa0; font-size: 15px; margin-bottom: 5px; }
.block-email-11 { color: #19abf; font-size: 16px; margin-bottom: 5px; }